on:
  push:
  schedule:
  - cron: '*/5 * * * *'
concurrency: cron
jobs:
  cron:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Crawl
      run: ./crawl.py
    - name: diff, trigger downstream, commit
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
      run: |
        if [ -n "$(git status --porcelain)" ]; then
        	git config --global user.name 'GitHub Actions'
        	git config --global user.email "$(whoami)@$(hostname --fqdn)"
        	git add --all
        	git diff --cached --diff-filter=AM --name-only -z | ./parse.py
        	if [ "$(git log -1 --pretty=format:%B)" = "automatic commit" ]; then
        		git commit --amend --no-edit --reset-author
        		git push -f "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" HEAD:master
        	else
        		git commit --message 'automatic commit'
        		git push "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" HEAD:master
        	fi
        fi
